<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict><key>name</key><string>顺丰</string><key>code</key><string>SF</string></dict>
    <dict><key>name</key><string>百世快递</string><key>code</key><string>HTKY</string></dict>
    <dict><key>name</key><string>中通</string><key>code</key><string>ZTO</string></dict>
    <dict><key>name</key><string>申通</string><key>code</key><string>STO</string></dict>
    <dict><key>name</key><string>圆通</string><key>code</key><string>YTO</string></dict>
    <dict><key>name</key><string>韵达</string><key>code</key><string>YD</string></dict>
    <dict><key>name</key><string>邮政平邮</string><key>code</key><string>YZPY</string></dict>
    <dict><key>name</key><string>EMS</string><key>code</key><string>EMS</string></dict>
    <dict><key>name</key><string>天天</string><key>code</key><string>HHTT</string></dict>
    <dict><key>name</key><string>京东</string><key>code</key><string>JD</string></dict>
    <dict><key>name</key><string>全峰</string><key>code</key><string>QFKD</string></dict>
    <dict><key>name</key><string>国通</string><key>code</key><string>GTO</string></dict>
    <dict><key>name</key><string>优速</string><key>code</key><string>UC</string></dict>
    <dict><key>name</key><string>德邦</string><key>code</key><string>DBL</string></dict>
    <dict><key>name</key><string>快捷</string><key>code</key><string>FAST</string></dict>
    <dict><key>name</key><string>亚马逊</string><key>code</key><string>AMAZON</string></dict>
    <dict><key>name</key><string>宅急送</string><key>code</key><string>ZJS</string></dict>
    <dict><key>name</key><string>安捷快递</string><key>code</key><string>AJ</string></dict>
    <dict><key>name</key><string>亚马逊物流</string><key>code</key><string>AMAZON</string></dict>
    <dict><key>name</key><string>安能物流</string><key>code</key><string>ANE</string></dict>
    <dict><key>name</key><string>安信达快递</string><key>code</key><string>AXD</string></dict>
    <dict><key>name</key><string>澳邮专线</string><key>code</key><string>AYCA</string></dict>
    <dict><key>name</key><string>北青小红帽</string><key>code</key><string>BQXHM</string></dict>
    <dict><key>name</key><string>百福东方</string><key>code</key><string>BFDF</string></dict>
    <dict><key>name</key><string>百世快运</string><key>code</key><string>BTWL</string></dict>
    <dict><key>name</key><string>CCES快递</string><key>code</key><string>CCES</string></dict>
    <dict><key>name</key><string>城市100</string><key>code</key><string>CITY100</string></dict>
    <dict><key>name</key><string>城际快递</string><key>code</key><string>CJKD</string></dict>
    <dict><key>name</key><string>CNPEX中邮快递</string><key>code</key><string>CNPEX</string></dict>
    <dict><key>name</key><string>COE东方快递</string><key>code</key><string>COE</string></dict>
    <dict><key>name</key><string>长沙创一</string><key>code</key><string>CSCY</string></dict>
    <dict><key>name</key><string>成都善途速运</string><key>code</key><string>CDSTKY</string></dict>
    <dict><key>name</key><string>联合运通</string><key>code</key><string>CTG</string></dict>
    <dict><key>name</key><string>德邦</string><key>code</key><string>DBL</string></dict>
    <dict><key>name</key><string>D速物流</string><key>code</key><string>DSWL</string></dict>
    <dict><key>name</key><string>大田物流</string><key>code</key><string>DTWL</string></dict>
    <dict><key>name</key><string>EMS</string><key>code</key><string>EMS</string></dict>
    <dict><key>name</key><string>快捷速递</string><key>code</key><string>FAST</string></dict>
    <dict><key>name</key><string>FEDEX联邦(国内件）</string><key>code</key><string>FEDEX</string></dict>
    <dict><key>name</key><string>FEDEX联邦(国际件）</string><key>code</key><string>FEDEX_GJ</string></dict>
    <dict><key>name</key><string>飞康达</string><key>code</key><string>FKD</string></dict>
    <dict><key>name</key><string>广东邮政</string><key>code</key><string>GDEMS</string></dict>
    <dict><key>name</key><string>共速达</string><key>code</key><string>GSD</string></dict>
    <dict><key>name</key><string>国通快递</string><key>code</key><string>GTO</string></dict>
    <dict><key>name</key><string>高铁速递</string><key>code</key><string>GTSD</string></dict>
    <dict><key>name</key><string>汇丰物流</string><key>code</key><string>HFWL</string></dict>
    <dict><key>name</key><string>天天快递</string><key>code</key><string>HHTT</string></dict>
    <dict><key>name</key><string>恒路物流</string><key>code</key><string>HLWL</string></dict>
    <dict><key>name</key><string>天地华宇</string><key>code</key><string>HOAU</string></dict>
    <dict><key>name</key><string>鸿桥供应链</string><key>code</key><string>HOTSCM</string></dict>
    <dict><key>name</key><string>海派通物流公司</string><key>code</key><string>HPTEX</string></dict>
    <dict><key>name</key><string>华强物流</string><key>code</key><string>hq568</string></dict>
    <dict><key>name</key><string>百世快递</string><key>code</key><string>HTKY</string></dict>
    <dict><key>name</key><string>华夏龙物流</string><key>code</key><string>HXLWL</string></dict>
    <dict><key>name</key><string>好来运快递</string><key>code</key><string>HYLSD</string></dict>
    <dict><key>name</key><string>京东</string><key>code</key><string>JD</string></dict>
    <dict><key>name</key><string>京广速递</string><key>code</key><string>JGSD</string></dict>
    <dict><key>name</key><string>九曳供应链</string><key>code</key><string>JIUYE</string></dict>
    <dict><key>name</key><string>佳吉快运</string><key>code</key><string>JJKY</string></dict>
    <dict><key>name</key><string>嘉里物流</string><key>code</key><string>JLDT</string></dict>
    <dict><key>name</key><string>捷特快递</string><key>code</key><string>JTKD</string></dict>
    <dict><key>name</key><string>急先达</string><key>code</key><string>JXD</string></dict>
    <dict><key>name</key><string>晋越快递</string><key>code</key><string>JYKD</string></dict>
    <dict><key>name</key><string>加运美</string><key>code</key><string>JYM</string></dict>
    <dict><key>name</key><string>佳怡物流</string><key>code</key><string>JYWL</string></dict>
    <dict><key>name</key><string>跨越速运</string><key>code</key><string>KYSY</string></dict>
    <dict><key>name</key><string>龙邦快递</string><key>code</key><string>LB</string></dict>
    <dict><key>name</key><string>联昊通速递</string><key>code</key><string>LHT</string></dict>
    <dict><key>name</key><string>民邦快递</string><key>code</key><string>MB</string></dict>
    <dict><key>name</key><string>民航快递</string><key>code</key><string>MHKD</string></dict>
    <dict><key>name</key><string>明亮物流</string><key>code</key><string>MLWL</string></dict>
    <dict><key>name</key><string>南方</string><key>code</key><string>NF</string></dict>
    <dict><key>name</key><string>能达速递</string><key>code</key><string>NEDA</string></dict>
    <dict><key>name</key><string>平安达腾飞快递</string><key>code</key><string>PADTF</string></dict>
    <dict><key>name</key><string>泛捷快递</string><key>code</key><string>PANEX</string></dict>
    <dict><key>name</key><string>品骏</string><key>code</key><string>PJ</string></dict>
    <dict><key>name</key><string>PCA Express</string><key>code</key><string>PCA</string></dict>
    <dict><key>name</key><string>全晨快递</string><key>code</key><string>QCKD</string></dict>
    <dict><key>name</key><string>全峰快递</string><key>code</key><string>QFKD</string></dict>
    <dict><key>name</key><string>全日通快递</string><key>code</key><string>QRT</string></dict>
    <dict><key>name</key><string>全信通</string><key>code</key><string>QXT</string></dict>
    <dict><key>name</key><string>瑞丰速递</string><key>code</key><string>RFEX</string></dict>
    <dict><key>name</key><string>如风达</string><key>code</key><string>RFD</string></dict>
    <dict><key>name</key><string>瑞丰速递</string><key>code</key><string>RFEX</string></dict>
    <dict><key>name</key><string>赛澳递</string><key>code</key><string>SAD</string></dict>
    <dict><key>name</key><string>圣安物流</string><key>code</key><string>SAWL</string></dict>
    <dict><key>name</key><string>盛邦物流</string><key>code</key><string>SBWL</string></dict>
    <dict><key>name</key><string>上大物流</string><key>code</key><string>SDWL</string></dict>
    <dict><key>name</key><string>顺丰快递</string><key>code</key><string>SF</string></dict>
    <dict><key>name</key><string>盛丰物流</string><key>code</key><string>SFWL</string></dict>
    <dict><key>name</key><string>盛辉物流</string><key>code</key><string>SHWL</string></dict>
    <dict><key>name</key><string>速通物流</string><key>code</key><string>ST</string></dict>
    <dict><key>name</key><string>速腾快递</string><key>code</key><string>STWL</string></dict>
    <dict><key>name</key><string>速必达物流</string><key>code</key><string>SUBIDA</string></dict>
    <dict><key>name</key><string>速尔快递</string><key>code</key><string>SURE</string></dict>
    <dict><key>name</key><string>天天</string><key>code</key><string>HHTT</string></dict>
    <dict><key>name</key><string>全一快递</string><key>code</key><string>UAPEX</string></dict>
    <dict><key>name</key><string>UEQ Express</string><key>code</key><string>UEQ</string></dict>
    <dict><key>name</key><string>优速快递</string><key>code</key><string>UC</string></dict>
    <dict><key>name</key><string>万家物流</string><key>code</key><string>WJWL</string></dict>
    <dict><key>name</key><string>万象物流</string><key>code</key><string>WXWL</string></dict>
    <dict><key>name</key><string>新邦物流</string><key>code</key><string>XBWL</string></dict>
    <dict><key>name</key><string>信丰快递</string><key>code</key><string>XFEX</string></dict>
    <dict><key>name</key><string>希优特</string><key>code</key><string>XYT</string></dict>
    <dict><key>name</key><string>新杰物流</string><key>code</key><string>XJ</string></dict>
    <dict><key>name</key><string>源安达快递</string><key>code</key><string>YADEX</string></dict>
    <dict><key>name</key><string>远成物流</string><key>code</key><string>YCWL</string></dict>
    <dict><key>name</key><string>韵达快递</string><key>code</key><string>YD</string></dict>
    <dict><key>name</key><string>义达国际物流</string><key>code</key><string>YDH</string></dict>
    <dict><key>name</key><string>越丰物流</string><key>code</key><string>YFEX</string></dict>
    <dict><key>name</key><string>原飞航物流</string><key>code</key><string>YFHEX</string></dict>
    <dict><key>name</key><string>亚风快递</string><key>code</key><string>YFSD</string></dict>
    <dict><key>name</key><string>运通快递</string><key>code</key><string>YTKD</string></dict>
    <dict><key>name</key><string>圆通速递</string><key>code</key><string>YTO</string></dict>
    <dict><key>name</key><string>亿翔快递</string><key>code</key><string>YXKD</string></dict>
    <dict><key>name</key><string>运东西</string><key>code</key><string>YUNDX</string></dict>
    <dict><key>name</key><string>邮政平邮/小包</string><key>code</key><string>YZPY</string></dict>
    <dict><key>name</key><string>增益快递</string><key>code</key><string>ZENY</string></dict>
    <dict><key>name</key><string>汇强快递</string><key>code</key><string>ZHQKD</string></dict>
    <dict><key>name</key><string>宅急送</string><key>code</key><string>ZJS</string></dict>
    <dict><key>name</key><string>众通快递</string><key>code</key><string>ZTE</string></dict>
    <dict><key>name</key><string>中铁快运</string><key>code</key><string>ZTKY</string></dict>
    <dict><key>name</key><string>中通速递</string><key>code</key><string>ZTO</string></dict>
    <dict><key>name</key><string>中铁物流</string><key>code</key><string>ZTWL</string></dict>
    <dict><key>name</key><string>中邮物流</string><key>code</key><string>ZYWL</string></dict>
    <dict><key>name</key><string></string><key>code</key><string></string></dict>
    <dict><key>name</key><string>AAE全球专递</string><key>code</key><string>AAE</string></dict>
    <dict><key>name</key><string>ACS雅仕快递</string><key>code</key><string>ACS</string></dict>
    <dict><key>name</key><string>ADP Express Tracking</string><key>code</key><string>ADP</string></dict>
    <dict><key>name</key><string>安圭拉邮政</string><key>code</key><string>ANGUILAYOU</string></dict>
    <dict><key>name</key><string>澳门邮政</string><key>code</key><string>AOMENYZ</string></dict>
    <dict><key>name</key><string>APAC</string><key>code</key><string>APAC</string></dict>
    <dict><key>name</key><string>Aramex</string><key>code</key><string>ARAMEX</string></dict>
    <dict><key>name</key><string>奥地利邮政</string><key>code</key><string>AT</string></dict>
    <dict><key>name</key><string>Australia Post Tracking</string><key>code</key><string>AUSTRALIA</string></dict>
    <dict><key>name</key><string>比利时邮政</string><key>code</key><string>BEL</string></dict>
    <dict><key>name</key><string>BHT快递</string><key>code</key><string>BHT</string></dict>
    <dict><key>name</key><string>秘鲁邮政</string><key>code</key><string>BILUYOUZHE</string></dict>
    <dict><key>name</key><string>巴西邮政</string><key>code</key><string>BR</string></dict>
    <dict><key>name</key><string>不丹邮政</string><key>code</key><string>BUDANYOUZH</string></dict>
    <dict><key>name</key><string>加拿大邮政</string><key>code</key><string>CA</string></dict>
    <dict><key>name</key><string>递四方速递</string><key>code</key><string>D4PX</string></dict>
    <dict><key>name</key><string>DHL</string><key>code</key><string>DHL</string></dict>
    <dict><key>name</key><string>DHL(英文版)</string><key>code</key><string>DHL_EN</string></dict>
    <dict><key>name</key><string>DHL全球</string><key>code</key><string>DHL_GLB</string></dict>
    <dict><key>name</key><string>DHL Global Mail</string><key>code</key><string>DHLGM</string></dict>
    <dict><key>name</key><string>丹麦邮政</string><key>code</key><string>DK</string></dict>
    <dict><key>name</key><string>DPD</string><key>code</key><string>DPD</string></dict>
    <dict><key>name</key><string>DPEX</string><key>code</key><string>DPEX</string></dict>
    <dict><key>name</key><string>EMS国际</string><key>code</key><string>EMSGJ</string></dict>
    <dict><key>name</key><string>EShipper</string><key>code</key><string>ESHIPPER</string></dict>
    <dict><key>name</key><string>国际e邮宝</string><key>code</key><string>GJEYB</string></dict>
    <dict><key>name</key><string>国际邮政包裹</string><key>code</key><string>GJYZ</string></dict>
    <dict><key>name</key><string>GLS</string><key>code</key><string>GLS</string></dict>
    <dict><key>name</key><string>安的列斯群岛邮政</string><key>code</key><string>IADLSQDYZ</string></dict>
    <dict><key>name</key><string>澳大利亚邮政</string><key>code</key><string>IADLYYZ</string></dict>
    <dict><key>name</key><string>阿尔巴尼亚邮政</string><key>code</key><string>IAEBNYYZ</string></dict>
    <dict><key>name</key><string>阿尔及利亚邮政</string><key>code</key><string>IAEJLYYZ</string></dict>
    <dict><key>name</key><string>阿富汗邮政</string><key>code</key><string>IAFHYZ</string></dict>
    <dict><key>name</key><string>安哥拉邮政</string><key>code</key><string>IAGLYZ</string></dict>
    <dict><key>name</key><string>阿根廷邮政</string><key>code</key><string>IAGTYZ</string></dict>
    <dict><key>name</key><string>埃及邮政</string><key>code</key><string>IAJYZ</string></dict>
    <dict><key>name</key><string>阿鲁巴邮政</string><key>code</key><string>IALBYZ</string></dict>
    <dict><key>name</key><string>奥兰群岛邮政</string><key>code</key><string>IALQDYZ</string></dict>
    <dict><key>name</key><string>阿联酋邮政</string><key>code</key><string>IALYYZ</string></dict>
    <dict><key>name</key><string>阿曼邮政</string><key>code</key><string>IAMYZ</string></dict>
    <dict><key>name</key><string>阿塞拜疆邮政</string><key>code</key><string>IASBJYZ</string></dict>
    <dict><key>name</key><string>埃塞俄比亚邮政</string><key>code</key><string>IASEBYYZ</string></dict>
    <dict><key>name</key><string>爱沙尼亚邮政</string><key>code</key><string>IASNYYZ</string></dict>
    <dict><key>name</key><string>阿森松岛邮政</string><key>code</key><string>IASSDYZ</string></dict>
    <dict><key>name</key><string>博茨瓦纳邮政</string><key>code</key><string>IBCWNYZ</string></dict>
    <dict><key>name</key><string>波多黎各邮政</string><key>code</key><string>IBDLGYZ</string></dict>
    <dict><key>name</key><string>冰岛邮政</string><key>code</key><string>IBDYZ</string></dict>
    <dict><key>name</key><string>白俄罗斯邮政</string><key>code</key><string>IBELSYZ</string></dict>
    <dict><key>name</key><string>波黑邮政</string><key>code</key><string>IBHYZ</string></dict>
    <dict><key>name</key><string>保加利亚邮政</string><key>code</key><string>IBJLYYZ</string></dict>
    <dict><key>name</key><string>巴基斯坦邮政</string><key>code</key><string>IBJSTYZ</string></dict>
    <dict><key>name</key><string>黎巴嫩邮政</string><key>code</key><string>IBLNYZ</string></dict>
    <dict><key>name</key><string>便利速递</string><key>code</key><string>IBLSD</string></dict>
    <dict><key>name</key><string>玻利维亚邮政</string><key>code</key><string>IBLWYYZ</string></dict>
    <dict><key>name</key><string>巴林邮政</string><key>code</key><string>IBLYZ</string></dict>
    <dict><key>name</key><string>百慕达邮政</string><key>code</key><string>IBMDYZ</string></dict>
    <dict><key>name</key><string>波兰邮政</string><key>code</key><string>IBOLYZ</string></dict>
    <dict><key>name</key><string>宝通达</string><key>code</key><string>IBTD</string></dict>
    <dict><key>name</key><string>贝邮宝</string><key>code</key><string>IBYB</string></dict>
    <dict><key>name</key><string>出口易</string><key>code</key><string>ICKY</string></dict>
    <dict><key>name</key><string>达方物流</string><key>code</key><string>IDFWL</string></dict>
    <dict><key>name</key><string>德国邮政</string><key>code</key><string>IDGYZ</string></dict>
    <dict><key>name</key><string>爱尔兰邮政</string><key>code</key><string>IE</string></dict>
    <dict><key>name</key><string>厄瓜多尔邮政</string><key>code</key><string>IEGDEYZ</string></dict>
    <dict><key>name</key><string>俄罗斯邮政</string><key>code</key><string>IELSYZ</string></dict>
    <dict><key>name</key><string>厄立特里亚邮政</string><key>code</key><string>IELTLYYZ</string></dict>
    <dict><key>name</key><string>飞特物流</string><key>code</key><string>IFTWL</string></dict>
    <dict><key>name</key><string>瓜德罗普岛EMS</string><key>code</key><string>IGDLPDEMS</string></dict>
    <dict><key>name</key><string>瓜德罗普岛邮政</string><key>code</key><string>IGDLPDYZ</string></dict>
    <dict><key>name</key><string>俄速递</string><key>code</key><string>IGJESD</string></dict>
    <dict><key>name</key><string>哥伦比亚邮政</string><key>code</key><string>IGLBYYZ</string></dict>
    <dict><key>name</key><string>格陵兰邮政</string><key>code</key><string>IGLLYZ</string></dict>
    <dict><key>name</key><string>哥斯达黎加邮政</string><key>code</key><string>IGSDLJYZ</string></dict>
    <dict><key>name</key><string>韩国邮政</string><key>code</key><string>IHGYZ</string></dict>
    <dict><key>name</key><string>华翰物流</string><key>code</key><string>IHHWL</string></dict>
    <dict><key>name</key><string>互联易</string><key>code</key><string>IHLY</string></dict>
    <dict><key>name</key><string>哈萨克斯坦邮政</string><key>code</key><string>IHSKSTYZ</string></dict>
    <dict><key>name</key><string>黑山邮政</string><key>code</key><string>IHSYZ</string></dict>
    <dict><key>name</key><string>津巴布韦邮政</string><key>code</key><string>IJBBWYZ</string></dict>
    <dict><key>name</key><string>吉尔吉斯斯坦邮政</string><key>code</key><string>IJEJSSTYZ</string></dict>
    <dict><key>name</key><string>捷克邮政</string><key>code</key><string>IJKYZ</string></dict>
    <dict><key>name</key><string>加纳邮政</string><key>code</key><string>IJNYZ</string></dict>
    <dict><key>name</key><string>柬埔寨邮政</string><key>code</key><string>IJPZYZ</string></dict>
    <dict><key>name</key><string>克罗地亚邮政</string><key>code</key><string>IKNDYYZ</string></dict>
    <dict><key>name</key><string>肯尼亚邮政</string><key>code</key><string>IKNYYZ</string></dict>
    <dict><key>name</key><string>科特迪瓦EMS</string><key>code</key><string>IKTDWEMS</string></dict>
    <dict><key>name</key><string>科特迪瓦邮政</string><key>code</key><string>IKTDWYZ</string></dict>
    <dict><key>name</key><string>卡塔尔邮政</string><key>code</key><string>IKTEYZ</string></dict>
    <dict><key>name</key><string>利比亚邮政</string><key>code</key><string>ILBYYZ</string></dict>
    <dict><key>name</key><string>林克快递</string><key>code</key><string>ILKKD</string></dict>
    <dict><key>name</key><string>罗马尼亚邮政</string><key>code</key><string>ILMNYYZ</string></dict>
    <dict><key>name</key><string>卢森堡邮政</string><key>code</key><string>ILSBYZ</string></dict>
    <dict><key>name</key><string>拉脱维亚邮政</string><key>code</key><string>ILTWYYZ</string></dict>
    <dict><key>name</key><string>立陶宛邮政</string><key>code</key><string>ILTWYZ</string></dict>
    <dict><key>name</key><string>列支敦士登邮政</string><key>code</key><string>ILZDSDYZ</string></dict>
    <dict><key>name</key><string>马尔代夫邮政</string><key>code</key><string>IMEDFYZ</string></dict>
    <dict><key>name</key><string>摩尔多瓦邮政</string><key>code</key><string>IMEDWYZ</string></dict>
    <dict><key>name</key><string>马耳他邮政</string><key>code</key><string>IMETYZ</string></dict>
    <dict><key>name</key><string>孟加拉国EMS</string><key>code</key><string>IMJLGEMS</string></dict>
    <dict><key>name</key><string>摩洛哥邮政</string><key>code</key><string>IMLGYZ</string></dict>
    <dict><key>name</key><string>毛里求斯邮政</string><key>code</key><string>IMLQSYZ</string></dict>
    <dict><key>name</key><string>马来西亚EMS</string><key>code</key><string>IMLXYEMS</string></dict>
    <dict><key>name</key><string>马来西亚邮政</string><key>code</key><string>IMLXYYZ</string></dict>
    <dict><key>name</key><string>马其顿邮政</string><key>code</key><string>IMQDYZ</string></dict>
    <dict><key>name</key><string>马提尼克EMS</string><key>code</key><string>IMTNKEMS</string></dict>
    <dict><key>name</key><string>马提尼克邮政</string><key>code</key><string>IMTNKYZ</string></dict>
    <dict><key>name</key><string>墨西哥邮政</string><key>code</key><string>IMXGYZ</string></dict>
    <dict><key>name</key><string>南非邮政</string><key>code</key><string>INFYZ</string></dict>
    <dict><key>name</key><string>尼日利亚邮政</string><key>code</key><string>INRLYYZ</string></dict>
    <dict><key>name</key><string>挪威邮政</string><key>code</key><string>INWYZ</string></dict>
    <dict><key>name</key><string>葡萄牙邮政</string><key>code</key><string>IPTYYZ</string></dict>
    <dict><key>name</key><string>全球快递</string><key>code</key><string>IQQKD</string></dict>
    <dict><key>name</key><string>全通物流</string><key>code</key><string>IQTWL</string></dict>
    <dict><key>name</key><string>苏丹邮政</string><key>code</key><string>ISDYZ</string></dict>
    <dict><key>name</key><string>萨尔瓦多邮政</string><key>code</key><string>ISEWDYZ</string></dict>
    <dict><key>name</key><string>塞尔维亚邮政</string><key>code</key><string>ISEWYYZ</string></dict>
    <dict><key>name</key><string>斯洛伐克邮政</string><key>code</key><string>ISLFKYZ</string></dict>
    <dict><key>name</key><string>斯洛文尼亚邮政</string><key>code</key><string>ISLWNYYZ</string></dict>
    <dict><key>name</key><string>塞内加尔邮政</string><key>code</key><string>ISNJEYZ</string></dict>
    <dict><key>name</key><string>塞浦路斯邮政</string><key>code</key><string>ISPLSYZ</string></dict>
    <dict><key>name</key><string>沙特阿拉伯邮政</string><key>code</key><string>ISTALBYZ</string></dict>
    <dict><key>name</key><string>土耳其邮政</string><key>code</key><string>ITEQYZ</string></dict>
    <dict><key>name</key><string>泰国邮政</string><key>code</key><string>ITGYZ</string></dict>
    <dict><key>name</key><string>特立尼达和多巴哥EMS</string><key>code</key><string>ITLNDHDBGE</string></dict>
    <dict><key>name</key><string>突尼斯邮政</string><key>code</key><string>ITNSYZ</string></dict>
    <dict><key>name</key><string>坦桑尼亚邮政</string><key>code</key><string>ITSNYYZ</string></dict>
    <dict><key>name</key><string>危地马拉邮政</string><key>code</key><string>IWDMLYZ</string></dict>
    <dict><key>name</key><string>乌干达邮政</string><key>code</key><string>IWGDYZ</string></dict>
    <dict><key>name</key><string>乌克兰EMS</string><key>code</key><string>IWKLEMS</string></dict>
    <dict><key>name</key><string>乌克兰邮政</string><key>code</key><string>IWKLYZ</string></dict>
    <dict><key>name</key><string>乌拉圭邮政</string><key>code</key><string>IWLGYZ</string></dict>
    <dict><key>name</key><string>文莱邮政</string><key>code</key><string>IWLYZ</string></dict>
    <dict><key>name</key><string>乌兹别克斯坦EMS</string><key>code</key><string>IWZBKSTEMS</string></dict>
    <dict><key>name</key><string>乌兹别克斯坦邮政</string><key>code</key><string>IWZBKSTYZ</string></dict>
    <dict><key>name</key><string>西班牙邮政</string><key>code</key><string>IXBYYZ</string></dict>
    <dict><key>name</key><string>小飞龙物流</string><key>code</key><string>IXFLWL</string></dict>
    <dict><key>name</key><string>新喀里多尼亚邮政</string><key>code</key><string>IXGLDNYYZ</string></dict>
    <dict><key>name</key><string>新加坡EMS</string><key>code</key><string>IXJPEMS</string></dict>
    <dict><key>name</key><string>新加坡邮政</string><key>code</key><string>IXJPYZ</string></dict>
    <dict><key>name</key><string>叙利亚邮政</string><key>code</key><string>IXLYYZ</string></dict>
    <dict><key>name</key><string>希腊邮政</string><key>code</key><string>IXLYZ</string></dict>
    <dict><key>name</key><string>夏浦世纪</string><key>code</key><string>IXPSJ</string></dict>
    <dict><key>name</key><string>夏浦物流</string><key>code</key><string>IXPWL</string></dict>
    <dict><key>name</key><string>新西兰邮政</string><key>code</key><string>IXXLYZ</string></dict>
    <dict><key>name</key><string>匈牙利邮政</string><key>code</key><string>IXYLYZ</string></dict>
    <dict><key>name</key><string>意大利邮政</string><key>code</key><string>IYDLYZ</string></dict>
    <dict><key>name</key><string>印度尼西亚邮政</string><key>code</key><string>IYDNXYYZ</string></dict>
    <dict><key>name</key><string>印度邮政</string><key>code</key><string>IYDYZ</string></dict>
    <dict><key>name</key><string>英国邮政</string><key>code</key><string>IYGYZ</string></dict>
    <dict><key>name</key><string>伊朗邮政</string><key>code</key><string>IYLYZ</string></dict>
    <dict><key>name</key><string>亚美尼亚邮政</string><key>code</key><string>IYMNYYZ</string></dict>
    <dict><key>name</key><string>也门邮政</string><key>code</key><string>IYMYZ</string></dict>
    <dict><key>name</key><string>越南邮政</string><key>code</key><string>IYNYZ</string></dict>
    <dict><key>name</key><string>以色列邮政</string><key>code</key><string>IYSLYZ</string></dict>
    <dict><key>name</key><string>易通关</string><key>code</key><string>IYTG</string></dict>
    <dict><key>name</key><string>燕文物流</string><key>code</key><string>IYWWL</string></dict>
    <dict><key>name</key><string>直布罗陀邮政</string><key>code</key><string>IZBLTYZ</string></dict>
    <dict><key>name</key><string>智利邮政</string><key>code</key><string>IZLYZ</string></dict>
    <dict><key>name</key><string>日本邮政</string><key>code</key><string>JP</string></dict>
    <dict><key>name</key><string>荷兰邮政</string><key>code</key><string>NL</string></dict>
    <dict><key>name</key><string>ONTRAC</string><key>code</key><string>ONTRAC</string></dict>
    <dict><key>name</key><string>全球邮政</string><key>code</key><string>QQYZ</string></dict>
    <dict><key>name</key><string>瑞典邮政</string><key>code</key><string>RDSE</string></dict>
    <dict><key>name</key><string>瑞士邮政</string><key>code</key><string>SWCH</string></dict>
    <dict><key>name</key><string>台湾邮政</string><key>code</key><string>TAIWANYZ</string></dict>
    <dict><key>name</key><string>TNT快递</string><key>code</key><string>TNT</string></dict>
    <dict><key>name</key><string>UPS</string><key>code</key><string>UPS</string></dict>
    <dict><key>name</key><string>USPS美国邮政</string><key>code</key><string>USPS</string></dict>
    <dict><key>name</key><string>日本大和运输(Yamato)</string><key>code</key><string>YAMA</string></dict>
    <dict><key>name</key><string>YODEL</string><key>code</key><string>YODEL</string></dict>
    <dict><key>name</key><string>约旦邮政</string><key>code</key><string>YUEDANYOUZ</string></dict>
    <dict><key>name</key><string></string><key>code</key><string></string></dict>
    <dict><key>name</key><string>笨鸟国际</string><key>code</key><string>BN</string></dict>
    <dict><key>name</key><string>爱购转运</string><key>code</key><string>ZY_AG</string></dict>
    <dict><key>name</key><string>爱欧洲</string><key>code</key><string>ZY_AOZ</string></dict>
    <dict><key>name</key><string>澳世速递</string><key>code</key><string>ZY_AUSE</string></dict>
    <dict><key>name</key><string>AXO</string><key>code</key><string>ZY_AXO</string></dict>
    <dict><key>name</key><string>澳转运</string><key>code</key><string>ZY_AZY</string></dict>
    <dict><key>name</key><string>八达网</string><key>code</key><string>ZY_BDA</string></dict>
    <dict><key>name</key><string>蜜蜂速递</string><key>code</key><string>ZY_BEE</string></dict>
    <dict><key>name</key><string>贝海速递</string><key>code</key><string>ZY_BH</string></dict>
    <dict><key>name</key><string>百利快递</string><key>code</key><string>ZY_BL</string></dict>
    <dict><key>name</key><string>斑马物流</string><key>code</key><string>ZY_BM</string></dict>
    <dict><key>name</key><string>败欧洲</string><key>code</key><string>ZY_BOZ</string></dict>
    <dict><key>name</key><string>百通物流</string><key>code</key><string>ZY_BT</string></dict>
    <dict><key>name</key><string>贝易购</string><key>code</key><string>ZY_BYECO</string></dict>
    <dict><key>name</key><string>策马转运</string><key>code</key><string>ZY_CM</string></dict>
    <dict><key>name</key><string>赤兔马转运</string><key>code</key><string>ZY_CTM</string></dict>
    <dict><key>name</key><string>CUL中美速递</string><key>code</key><string>ZY_CUL</string></dict>
    <dict><key>name</key><string>德国海淘之家</string><key>code</key><string>ZY_DGHT</string></dict>
    <dict><key>name</key><string>德运网</string><key>code</key><string>ZY_DYW</string></dict>
    <dict><key>name</key><string>EFS POST</string><key>code</key><string>ZY_EFS</string></dict>
    <dict><key>name</key><string>宜送转运</string><key>code</key><string>ZY_ESONG</string></dict>
    <dict><key>name</key><string>ETD</string><key>code</key><string>ZY_ETD</string></dict>
    <dict><key>name</key><string>飞碟快递</string><key>code</key><string>ZY_FD</string></dict>
    <dict><key>name</key><string>飞鸽快递</string><key>code</key><string>ZY_FG</string></dict>
    <dict><key>name</key><string>风雷速递</string><key>code</key><string>ZY_FLSD</string></dict>
    <dict><key>name</key><string>风行快递</string><key>code</key><string>ZY_FX</string></dict>
    <dict><key>name</key><string>风行速递</string><key>code</key><string>ZY_FXSD</string></dict>
    <dict><key>name</key><string>飞洋快递</string><key>code</key><string>ZY_FY</string></dict>
    <dict><key>name</key><string>皓晨快递</string><key>code</key><string>ZY_HC</string></dict>
    <dict><key>name</key><string>皓晨优递</string><key>code</key><string>ZY_HCYD</string></dict>
    <dict><key>name</key><string>海带宝</string><key>code</key><string>ZY_HDB</string></dict>
    <dict><key>name</key><string>汇丰美中速递</string><key>code</key><string>ZY_HFMZ</string></dict>
    <dict><key>name</key><string>豪杰速递</string><key>code</key><string>ZY_HJSD</string></dict>
    <dict><key>name</key><string>360hitao转运</string><key>code</key><string>ZY_HTAO</string></dict>
    <dict><key>name</key><string>海淘村</string><key>code</key><string>ZY_HTCUN</string></dict>
    <dict><key>name</key><string>365海淘客</string><key>code</key><string>ZY_HTKE</string></dict>
    <dict><key>name</key><string>华通快运</string><key>code</key><string>ZY_HTONG</string></dict>
    <dict><key>name</key><string>海星桥快递</string><key>code</key><string>ZY_HXKD</string></dict>
    <dict><key>name</key><string>华兴速运</string><key>code</key><string>ZY_HXSY</string></dict>
    <dict><key>name</key><string>海悦速递</string><key>code</key><string>ZY_HYSD</string></dict>
    <dict><key>name</key><string>LogisticsY</string><key>code</key><string>ZY_IHERB</string></dict>
    <dict><key>name</key><string>君安快递</string><key>code</key><string>ZY_JA</string></dict>
    <dict><key>name</key><string>时代转运</string><key>code</key><string>ZY_JD</string></dict>
    <dict><key>name</key><string>骏达快递</string><key>code</key><string>ZY_JDKD</string></dict>
    <dict><key>name</key><string>骏达转运</string><key>code</key><string>ZY_JDZY</string></dict>
    <dict><key>name</key><string>久禾快递</string><key>code</key><string>ZY_JH</string></dict>
    <dict><key>name</key><string>金海淘</string><key>code</key><string>ZY_JHT</string></dict>
    <dict><key>name</key><string>联邦转运FedRoad</string><key>code</key><string>ZY_LBZY</string></dict>
    <dict><key>name</key><string>领跑者快递</string><key>code</key><string>ZY_LPZ</string></dict>
    <dict><key>name</key><string>龙象快递</string><key>code</key><string>ZY_LX</string></dict>
    <dict><key>name</key><string>量子物流</string><key>code</key><string>ZY_LZWL</string></dict>
    <dict><key>name</key><string>明邦转运</string><key>code</key><string>ZY_MBZY</string></dict>
    <dict><key>name</key><string>美国转运</string><key>code</key><string>ZY_MGZY</string></dict>
    <dict><key>name</key><string>美嘉快递</string><key>code</key><string>ZY_MJ</string></dict>
    <dict><key>name</key><string>美速通</string><key>code</key><string>ZY_MST</string></dict>
    <dict><key>name</key><string>美西转运</string><key>code</key><string>ZY_MXZY</string></dict>
    <dict><key>name</key><string>168 美中快递</string><key>code</key><string>ZY_MZ</string></dict>
    <dict><key>name</key><string>欧e捷</string><key>code</key><string>ZY_OEJ</string></dict>
    <dict><key>name</key><string>欧洲疯</string><key>code</key><string>ZY_OZF</string></dict>
    <dict><key>name</key><string>欧洲GO</string><key>code</key><string>ZY_OZGO</string></dict>
    <dict><key>name</key><string>全美通</string><key>code</key><string>ZY_QMT</string></dict>
    <dict><key>name</key><string>QQ-EX</string><key>code</key><string>ZY_QQEX</string></dict>
    <dict><key>name</key><string>润东国际快线</string><key>code</key><string>ZY_RDGJ</string></dict>
    <dict><key>name</key><string>瑞天快递</string><key>code</key><string>ZY_RT</string></dict>
    <dict><key>name</key><string>瑞天速递</string><key>code</key><string>ZY_RTSD</string></dict>
    <dict><key>name</key><string>SCS国际物流</string><key>code</key><string>ZY_SCS</string></dict>
    <dict><key>name</key><string>速达快递</string><key>code</key><string>ZY_SDKD</string></dict>
    <dict><key>name</key><string>四方转运</string><key>code</key><string>ZY_SFZY</string></dict>
    <dict><key>name</key><string>SOHO苏豪国际</string><key>code</key><string>ZY_SOHO</string></dict>
    <dict><key>name</key><string>Sonic-Ex速递</string><key>code</key><string>ZY_SONIC</string></dict>
    <dict><key>name</key><string>上腾快递</string><key>code</key><string>ZY_ST</string></dict>
    <dict><key>name</key><string>通诚美中快递</string><key>code</key><string>ZY_TCM</string></dict>
    <dict><key>name</key><string>天际快递</string><key>code</key><string>ZY_TJ</string></dict>
    <dict><key>name</key><string>天马转运</string><key>code</key><string>ZY_TM</string></dict>
    <dict><key>name</key><string>滕牛快递</string><key>code</key><string>ZY_TN</string></dict>
    <dict><key>name</key><string>TrakPak</string><key>code</key><string>ZY_TPAK</string></dict>
    <dict><key>name</key><string>太平洋快递</string><key>code</key><string>ZY_TPY</string></dict>
    <dict><key>name</key><string>唐三藏转运</string><key>code</key><string>ZY_TSZ</string></dict>
    <dict><key>name</key><string>天天海淘</string><key>code</key><string>ZY_TTHT</string></dict>
    <dict><key>name</key><string>TWC转运世界</string><key>code</key><string>ZY_TWC</string></dict>
    <dict><key>name</key><string>同心快递</string><key>code</key><string>ZY_TX</string></dict>
    <dict><key>name</key><string>天翼快递</string><key>code</key><string>ZY_TY</string></dict>
    <dict><key>name</key><string>同舟快递</string><key>code</key><string>ZY_TZH</string></dict>
    <dict><key>name</key><string>UCS合众快递</string><key>code</key><string>ZY_UCS</string></dict>
    <dict><key>name</key><string>文达国际DCS</string><key>code</key><string>ZY_WDCS</string></dict>
    <dict><key>name</key><string>星辰快递</string><key>code</key><string>ZY_XC</string></dict>
    <dict><key>name</key><string>迅达快递</string><key>code</key><string>ZY_XDKD</string></dict>
    <dict><key>name</key><string>信达速运</string><key>code</key><string>ZY_XDSY</string></dict>
    <dict><key>name</key><string>先锋快递</string><key>code</key><string>ZY_XF</string></dict>
    <dict><key>name</key><string>新干线快递</string><key>code</key><string>ZY_XGX</string></dict>
    <dict><key>name</key><string>西邮寄</string><key>code</key><string>ZY_XIYJ</string></dict>
    <dict><key>name</key><string>信捷转运</string><key>code</key><string>ZY_XJ</string></dict>
    <dict><key>name</key><string>优购快递</string><key>code</key><string>ZY_YGKD</string></dict>
    <dict><key>name</key><string>友家速递(UCS)</string><key>code</key><string>ZY_YJSD</string></dict>
    <dict><key>name</key><string>云畔网</string><key>code</key><string>ZY_YPW</string></dict>
    <dict><key>name</key><string>云骑快递</string><key>code</key><string>ZY_YQ</string></dict>
    <dict><key>name</key><string>一柒物流</string><key>code</key><string>ZY_YQWL</string></dict>
    <dict><key>name</key><string>优晟速递</string><key>code</key><string>ZY_YSSD</string></dict>
    <dict><key>name</key><string>易送网</string><key>code</key><string>ZY_YSW</string></dict>
    <dict><key>name</key><string>运淘美国</string><key>code</key><string>ZY_YTUSA</string></dict>
    <dict><key>name</key><string>至诚速递</string><key>code</key><string>ZY_ZCSD</string></dict>
    
    
</array>
</plist>
